In [2]:
import pandas as pd
print("done")

done

In [3]:
# # # # follower list
followerList = pd.read_csv('NDC/PresFollowerList.csv', sep=',', engine='python')
followerList

,id,screen name,name,followers count,friends count,listed count,location
0,614748786,remade_,Osei-Owusu Francis,1557,1186,3,Ghana
1,30848629,commonwealthsec,The Commonwealth,90077,3758,970,The Commonwealth
2,2438307378,MichelleNdiaye1,"Michelle Ndiaye - Sense of responsability, ple...",3260,2792,19,www.tanaforum.org
3,977171740748075009,AccraSpeaks,AccraSpeaks,873,227,1,"Accra, Ghana"
4,2559067837,NStottDespoja,Natasha Stott Despoja,19238,1469,174,NaN
...,...,...,...,...,...,...,...
131,550108589,KgopediAfrika,Kgopedi Lilokoe,76748,1404,91,Jo'burg...
132,255007239,lordmends,Lord Mends,797,632,3,Accra Newtown
133,326203741,mandyakatse,Mandy,121,21,0,NaN
134,50624773,MrAyitey,Claude Ayitey,1910,149,96,"Accra, Ghana"
135,843382848,richamedeka,Richard Amedeka,103,26,0,NaN

In [4]:
# # # show the head
followerList.head()

,id,screen name,name,followers count,friends count,listed count,location
0,614748786,remade_,Osei-Owusu Francis,1557,1186,3,Ghana
1,30848629,commonwealthsec,The Commonwealth,90077,3758,970,The Commonwealth
2,2438307378,MichelleNdiaye1,"Michelle Ndiaye - Sense of responsability, ple...",3260,2792,19,www.tanaforum.org
3,977171740748075009,AccraSpeaks,AccraSpeaks,873,227,1,"Accra, Ghana"
4,2559067837,NStottDespoja,Natasha Stott Despoja,19238,1469,174,NaN

In [5]:
# # # show the number of followers
followerList['followers count']

0       1557
1      90077
2       3260
3        873
4      19238
       ...
131    76748
132      797
133      121
134     1910
135      103
Name: followers count, Length: 136, dtype: int64

In [6]:
# # # show the location for the tweet
followerList['location']

0                  Ghana
1       The Commonwealth
2      www.tanaforum.org
3           Accra, Ghana
4                    NaN
             ...
131           Jo'burg...
132       Accra Newtown
133                  NaN
134         Accra, Ghana
135                  NaN
Name: location, Length: 136, dtype: object