In [21]:
# # # import the required libraries

import pandas as pd
import re
print('done')

done

In [22]:
# # # read the csv file and create data frames
data = pd.read_csv('NDC/PresTimeLineTweets.csv', encoding='utf-16')
data  # this show the data in jupyter notebook

,Date,Id,Text,Likes,Re-Tweets,Location
0,2020-05-09 07:58:50,1259030051972157441,RT : It ’ s been a year since Nana Addo ordere...,0,106,NaN
1,2020-05-09 07:58:32,1259029975153377280,I want to encourage you to protect yourself . ...,971,160,NaN
2,2020-05-09 07:58:31,1259029972313952256,"From 3,091 to 4,012 #COVID19 cases within 24 h...",1716,267,NaN
3,2020-05-08 11:30:43,1258720984321966080,I invite you to join the call to GET INVOLVED ...,2836,370,NaN
4,2020-05-06 09:47:47,1257970305374584835,Happy 70th Birthday Asantehene Otumfuo Osei Tu...,6991,613,NaN
...,...,...,...,...,...,...
106,2019-11-23 10:03:58,1198180380710494208,With Asantehene Otumfuo Osei Tutu II https://t...,655,58,NaN
107,2019-11-23 09:09:59,1198166796643295233,I was joined by the National Chairman of the N...,1334,117,NaN
108,2019-11-23 09:09:04,1198166565004468225,Otumfuo Asantehene and I have always had a rel...,1848,196,NaN
109,2019-11-23 09:08:04,1198166312050155520,"I had the honour of welcoming the Asantehene ,...",4965,397,NaN
110,2019-11-19 23:07:27,1196927999389642753,I delivered a lecture on ‘ Beyond Politics : A...,1037,119,NaN

In [23]:
# # # create a function to clean all the text of the tweets
def cleanText(text):
    text = re.sub(r'@[A-Za-z0-9]+', '', text)  # remove the @ delimiter
    text = re.sub(r'#', '', text)  # remove all hash tags
    text = re.sub(r'RT[\s]+', '', text)  # remove the text RT for re-tweets
    text = re.sub(r':[\s]+', '', text)  # remove the text : (colons)
    text = re.sub(r'https?:\/\/\S+', '', text)  # remove all urls

    return text  # return the clean data

In [24]:
# # # create a new data from the data to apply the cleaning function to
new_data = data
new_data

,Date,Id,Text,Likes,Re-Tweets,Location
0,2020-05-09 07:58:50,1259030051972157441,RT : It ’ s been a year since Nana Addo ordere...,0,106,NaN
1,2020-05-09 07:58:32,1259029975153377280,I want to encourage you to protect yourself . ...,971,160,NaN
2,2020-05-09 07:58:31,1259029972313952256,"From 3,091 to 4,012 #COVID19 cases within 24 h...",1716,267,NaN
3,2020-05-08 11:30:43,1258720984321966080,I invite you to join the call to GET INVOLVED ...,2836,370,NaN
4,2020-05-06 09:47:47,1257970305374584835,Happy 70th Birthday Asantehene Otumfuo Osei Tu...,6991,613,NaN
...,...,...,...,...,...,...
106,2019-11-23 10:03:58,1198180380710494208,With Asantehene Otumfuo Osei Tutu II https://t...,655,58,NaN
107,2019-11-23 09:09:59,1198166796643295233,I was joined by the National Chairman of the N...,1334,117,NaN
108,2019-11-23 09:09:04,1198166565004468225,Otumfuo Asantehene and I have always had a rel...,1848,196,NaN
109,2019-11-23 09:08:04,1198166312050155520,"I had the honour of welcoming the Asantehene ,...",4965,397,NaN
110,2019-11-19 23:07:27,1196927999389642753,I delivered a lecture on ‘ Beyond Politics : A...,1037,119,NaN

In [25]:
# # # clean the data
new_data['Text'] = new_data['Text'].apply(cleanText)
new_data

,Date,Id,Text,Likes,Re-Tweets,Location
0,2020-05-09 07:58:50,1259030051972157441,It ’ s been a year since Nana Addo ordered the...,0,106,NaN
1,2020-05-09 07:58:32,1259029975153377280,I want to encourage you to protect yourself . ...,971,160,NaN
2,2020-05-09 07:58:31,1259029972313952256,"From 3,091 to 4,012 COVID19 cases within 24 ho...",1716,267,NaN
3,2020-05-08 11:30:43,1258720984321966080,I invite you to join the call to GET INVOLVED ...,2836,370,NaN
4,2020-05-06 09:47:47,1257970305374584835,Happy 70th Birthday Asantehene Otumfuo Osei Tu...,6991,613,NaN
...,...,...,...,...,...,...
106,2019-11-23 10:03:58,1198180380710494208,With Asantehene Otumfuo Osei Tutu II,655,58,NaN
107,2019-11-23 09:09:59,1198166796643295233,I was joined by the National Chairman of the N...,1334,117,NaN
108,2019-11-23 09:09:04,1198166565004468225,Otumfuo Asantehene and I have always had a rel...,1848,196,NaN
109,2019-11-23 09:08:04,1198166312050155520,"I had the honour of welcoming the Asantehene ,...",4965,397,NaN
110,2019-11-19 23:07:27,1196927999389642753,I delivered a lecture on ‘ Beyond Politics An ...,1037,119,NaN

In [26]:
new_data['Text'][0]

'It ’ s been a year since Nana Addo ordered the closure of and Radio XYZ , and followed up with Radio Tongu …'